body, html, form {
    height: 95%;
}

 p {
     padding-right: 45%;
 }

table {
    width: 100%;
    height: 95%;
}
th {
    text-align: left;
}
td {
    vertical-align: top;
    width: 33%;
    height: 95%;
}
textarea, iframe {
    width: 90%;
    height: 95%;
}